node_modules
*/node_modules
**/node_modules
dist
*/dist
**/dist
*.log
.env*
coverage
.nyc_output
uploads
*.tmp
.temp
.git
.github
*.md
README.md
.gitignore
.eslintrc*
.prettierrc*
docker-compose*
Dockerfile*